{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bring Us Closer: Disc Test</title>
    <link rel="stylesheet" href="{% static 'css/disc_test.css' %}">
</head>
<body>
    <h1>Bring Us Together</h1>
 
    <h1> The Disc Test</h1>
    <h2> Take the test below to establish what team you work better in.</h2>

    
</body>
</html>